html,body
{
background-image:linear-gradient(bisque,blanchedalmond);
font-style: italic;
background-repeat: no-repeat;
height: auto;
background-size: cover;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0%;
padding:0% ;

}
.top
{
    background-color: black;
    opacity: 90%;
    padding-bottom: 2%;
    

}
h1{
    color: mediumvioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    padding: 10%;
    padding-bottom: 5%;
    padding-left: 5px;
    padding-top: 0%;
    margin: 0%;
    display: inline-block;
    width:40%;
}
.option
{
    padding:2%;
    padding-bottom: 0%;
    opacity: 1;
    
    
    display: inline-block;
    width:40%;
    
}
#opt
{
  text-decoration: none;
  color: cornsilk;
  cursor: pointer;
}
a
{
    padding:3%;
    padding-bottom: 0%;

}
.search
{
    margin-left: 54%;
    display: inline-block;
    outline: none;
    border: none;
  

}
#cart
{
    display: inline-block;
    margin-left: 1%;
    background:none;
    border-radius: 5px;
    outline: white;
    border:white 2px solid;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    color: white;
   
}
.menu
{
    background-color: palevioletred;
    color: sienna;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: peachpuff;
    min-width: 150px;
    height: 80px;
    padding: 2%;
    margin-top: 20%;
    z-index: 1;
    cursor: pointer;
  }
  .dropdown:hover .dropdown-content 
  {
    display: block;
    margin: 5%;
    padding:2%;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .dropdown:hover .span
  {
    background-color: peachpuff;
    margin-top: 20%;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .offer
  {
      height:350px;
      background-image: linear-gradient(#ff00ff,pink,lightpink);
      margin-top:1%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: italic;
      display: inline-block;
      padding: 1%;
      margin-left: 1%;
      margin-right: 1%;
  }
  .sale
  {
     
      font-size: xx-large;
      width: 30%;
        position:relative;
        right:5%;
      float: none;
  }
  .quote
  {    position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-variant: initial;
        color: mediumorchid;
        font-size: large;
        text-align: center;
        text-align: center;
    

  }
  .op
  {
      
      padding: 1%;
      margin: 2%;
      transition-delay:0.5s;
      transition-property: color;
  }
  #user
  {
    display: inline-block;
    width:15%;
    background-image: linear-gradient(to bottom right,#ff00ff,lightpink,pink); 
    padding:2%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font: outline;
    font-style: inherit;
    margin-left: 10%;
    position: relative;
    top: 90%;
  }
  h3
  {
    background-color: mediumvioletred;
    opacity: 90%;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
    color: black;
    text-align: center;
    position: relative;
    top: -400px;
    


  }
  .one
  {
    position: relative;
    top:-350px;
  }
  #sp
  {
    padding: 1%;
    margin: 1%;
    margin-top: 0%;
    margin-left: 9%;
    display:inline-block;
    width: 15%;
    transform: scale(0.7);
    position: relative;
    border: 2px solid black;
    
  }
  .contact{
  
    background-color: lightpink;
    font-size: large;
    padding-top: 400px;
    padding-top: 20px;
    margin-top: 20px;
  }
  figcaption
  {
    
    font-size: large;
    padding: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }
  #opt:hover
  {

    color: mediumvioletred;
  }
  #me:hover
  {
    font-size: large;
    color:black;
  }
  #user:hover
  {
    transform: scale(1.2);
  }
  
  #sp:hover
  {
    transform: scale(0.9);
  }
  
  #cart:hover
  {
    border: 2px solid wheat;
    color: black;
    background: wheat;
  }
  