body
{
	
	padding:0%;
	margin:0%;
	background-color: bisque;
	opacity:90%;

}
#im
{
	text-align:center;
}
h1
{	
	background-color: palevioletred;
	height: 100px;
	padding: 5%;
	width:100%;
	color: darkslategray;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	font-size: xx-large;
	
}
h2
{
	background-color: #ADD8E6;
	text-align:center;
	text-decoration-color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;

	
}
#register
{

	
	background-color: lightpink;
	text-align:center;
	width:100%;
}
label
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: oblique;
	font-size: large;
}
element.style
{
	height:300px; 
	width:30px;
	border:none;
	outline: 0;
	padding: 5px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display:inline-block;
  padding:2%;
  margin:4%;/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: darksalmon;
  color: white;
  transform: rotateY(180deg);
}


h2
{
	background-color: pink;
		text-align:center;
}
.card-container
{
	width: 18rem;
}
.card-container:hover .card-front{
	transform: rotateY(180deg);

}
.card
{
	transition: all 0.9s;
}

details
{
	font-size: medium;
}
address
{
	font-size: medium;
}
button
{
	padding: 2px;
	border-radius: 10%;
	margin: 2%;
	width: 80px;
	height: 30px;
	background-color: floralwhite;
	opacity: 30%;
	color:wheat;
	opacity:80%;
}
a
{
	text-decoration: none;

}